/* Navbar.css */
.navbar-container {
  position: absolute; /* o incluso 'relative' si no necesitas que sea fija */
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  background-color: transparent; /* ← Elimina el color morado */
  box-shadow: none;
}

  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  .offcanvas-nav {
    display: none;
  }
  
  .offcanvas-nav.open {
    display: block;
  }
  
  .offcanvas-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .offcanvas-nav ul li {
    padding: 10px;
  }
  
  .offcanvas-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }